*.d
ebin/
log/
relx
deps/
_rel/
_build/
_book/
doc/
.erlang.mk/
.tts.plt
elvis
xrefr
cover/
*.coverdata
test/ct.cover.spec
*.beam
/config/vm.args
/config/generated
/config/vars_gen.config
tts.db
distdir/
package
elm-stuff/
ui/watts_ui.js
ui/watts_ui_elm.js
TAGS
*~
*#
.#*
ttsc
pkg 
github.com
