*.d
ebin/
log/
relx
deps/
_rel/
_build/
doc/
.erlang.mk/
.tts.plt
elvis
xrefr
cover/
*.coverdata
test/ct.cover.spec
*.beam
/config/vm.args
/config/generated
/config/vars_gen.config
priv/http_static/index.html
tts.db
distdir/
package
elm-stuff/
tts_ui.js
TAGS
*~
*#
