%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{package_name, "tts"}.
{package_install_name, "watts"}.
{package_install_user, "watts"}.
{package_install_group, "watts"}.
{package_install_user_desc, "watts user"}.
{package_shortdesc, "WaTTS"}.
{package_desc, "WaTTS - The INDIGO Token Translation Service"}.
{package_commands, {list, [[{name, "watts"}]]}}.
{package_systemd_after, "network.target passwordd.service passworddsync.service"}.
{bin_or_sbin, "sbin"}.
{license_type, "Apache 2"}.
{cuttlefish, "on"}.
{cuttlefish_conf, "watts.conf"}.
{copyright, "2016-2017 KIT - INDIGO DataCloud"}.
{vendor_name, "INDIGO DataCloud"}.
{vendor_url, "http://repo.indigo-datacloud.eu"}.
{vendor_contact_name, "INDIGO DataCloud"}.
{vendor_contact_email, "indigo-su@indigo-datacloud.eu"}.
{license_full_text,
 "This file is provided to you under the Apache License,\n"
 "Version 2.0 (the \"License\"); you may not use this file\n"
 "except in compliance with the License. You may obtain\n"
 "a copy of the License at\n"
 "\n"
 " http://www.apache.org/licenses/LICENSE-2.0\n"
 "\n"
 "Unless required by applicable law or agreed to in writing,\n"
 "software distributed under the License is distributed on an\n"
 "\"AS IS\" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY\n"
 "KIND, either express or implied. See the License for the\n"
 "specific language governing permissions and limitations\n"
 "under the License."}.
{solaris_pkgname, "INDIGOwatts"}.
