{minimum_otp_vsn, "18.1"}.
{erl_opts, [
            {parse_transform, lager_transform}
           ]}.

{deps, [
        {oidcc, {git, "https://github.com/indigo-dc/oidcc.git", {ref, "06d63d5"}}},

        {node_package, {git, "https://github.com/dergraf/node_package.git", {branch, "rebar3-support"}}},

        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
        {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v1.5.1"}}},
        {econfig, {git, "https://github.com/benoitc/econfig.git", {tag, "0.7.1"}}},
        {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.11.1"}}},
        {eper, {git, "https://github.com/massemanet/eper.git", {tag, "0.97.3"}}},
        {esqlite, {git, "https://github.com/mmzeeman/esqlite.git", {ref, "a0c5b39"}}},
        {lager, {git, "https://github.com/basho/lager.git", {tag, "2.2.2"}}}
       ] 
}.

{relx, [{release, {tts, "0.1.0"},
         [tts]},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {extended_start_script, true},
        {overlay, [
                   {mkdir, "etc/tts"},
                   {mkdir, "etc/tts/scripts"},
                   {mkdir, "etc/tts/oidc"},
                   {mkdir, "etc/tts/services"},
                   {mkdir, "data/"},
                   {mkdir, "share/test"},
                    
                   {copy, "tts_config/default/tts/main.conf","etc/tts/main.conf"},
                   {copy, "tts_config/default/tts/scripts/basic-idh.py", "etc/tts/scripts/basic-idh.py"},
                   {copy, "tts_config/default/tts/scripts/idh.db", "etc/tts/scripts/idh.db"},
                   {copy, "tts_config/default/tts/scripts/idh.db", "data/idh.db"},
                   {copy, "tts_config/default/tts/scripts/ssh.py", "etc/tts/scripts/ssh.py"},
                   {copy, "tts_config/default/tts/scripts/opennebula.py", "etc/tts/scripts/opennebula.py"}
                  ]}
       ]}.


{profiles, [
            {test, [ 
                    {deps, [meck]}, 
                    {cover_enabled, true}
                   ]},
            {prod, [ 
                    {relx, [
                            {dev_mode, false},
                            {include_src, false},
                            {include_erts, true}
                           ]}
                   ]}
           ]}.

{elvis, [
         #{dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config
          },
         #{dirs => ["src"],
           filter => "*.erl",
           ruleset => erl_files,
           rules => [
                     {elvis_style, invalid_dynamic_call, #{ignore => [tts_cred_worker]}}, 
                     {elvis_style, god_modules, #{limit => 25, ignore => [tts_session]}}
                    ]
          },
         #{dirs => ["."],
           filter => "Makefile",
           ruleset => makefiles
          },
         #{dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config
          }
        ]}.
{provider_hooks, [
                 {pre, [{compile, {erlydtl, compile}}]}
                 ]}.

{plugins, [
           {rebar3_lint, {git, "https://github.com/bwegh/rebar3_lint.git", {branch, "master"}}},
           {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
           rebar3_auto,
           rebar3_run
          ]}.
