{minimum_otp_vsn, "18.1"}.
{erl_opts, []}.

{deps, [
        {oidcc, {git, "https://github.com/indigo-dc/oidcc.git", {ref, "aaa7a09"}}},

        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
        {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v1.5.1"}}},
        {econfig, {git, "https://github.com/benoitc/econfig.git", {tag, "0.7.1"}}},
        {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.11.1"}}},
        {eper, {git, "https://github.com/massemanet/eper.git", {tag, "0.97.3"}}},
        {esqlite, {git, "https://github.com/mmzeeman/esqlite.git", {ref, "a0c5b39"}}},
        {lager, {git, "https://github.com/basho/lager.git", {tag, "2.2.2"}}}
       ] 
}.

{relx, [{release, {tts, "0.1.0"},
         [tts]},
        {vm_args, "rel/vm.args"},
        {sys_config, "rel/sys.config"},
        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]}.

{profiles, [
            {test, [ 
                    {deps, [meck]}, 
                    {cover_enabled, true},
                    {cover_export_enabled, true}
                   ]}
           ]}.


{provider_hooks, [
                 {pre, [{compile, {erlydtl, compile}}]}
                 ]}.
{erlydtl_opts, [{doc_root, "templates"}]}.
{plugins, [
           {rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.4"}}},
           {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
           {rebar_vsn_plugin, "", {git, "https://github.com/erlware/rebar_vsn_plugin.git", {branch, "master"}}},
           rebar3_auto,
           rebar3_run
          ]}.
