Please select your OpenId Connect Provider
<div class="form-group">
    <form method="post" action="{{ ep_redirect }}" >
        <div class="input-group">
            <select id="id"  name="id" class="form-control">
                {% for id, description in oidc_op_list %}
                <option value="{{ id }}"> {{ description }}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Login</button>  
            </span>
        </div>
    </form> 
</div>
