Please select your OpenId Connect Provider
<div class="form-group">
    <form method="post" action="{{ ep_redirect }}" >
        <div class="input-group">
            <select id="provider"  name="provider" class="form-control">
                {% for id, description, enabled in oidc_op_list %}
                <option {% if enabled %} value="{{ id }}" {% else %} disabled {% endif %} >
                  {{ description }} </option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Login</button>  
            </span>
        </div>
    </form> 
</div>
