[
{kernel,[{start_timer,true}]},
{oidcc, [
    {retrieve_userinfo, true},
    {use_cookie, true},
    {check_user_agent, true},
    {check_peer_ip, true}
    ] },
{lager, [
    {log_root, "{{runner_log_dir}}"},
    {handlers, [
               {lager_console_backend, info},
               {lager_file_backend, [{file, "error.log"}, {level, error}]},
               {lager_file_backend, [{file, "console.log"}, {level, info}]}
               ]}
    ]}
].
