    %% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
    %% ex: ft=erlang ts=4 sw=4 et

    %% Platform-specific installation paths
    {platform_bin_dir,      "./bin"}.
    {platform_data_dir,     "./data"}.
    {platform_etc_dir,      "./etc"}.
    {platform_lib_dir,      "./lib"}.
    {platform_log_dir,      "./log"}.
    {cuttlefish_schema_dir, "./share/schema"}.

    %%
    %% etc/vm.args
    %%
    {node,                  "tts@127.0.0.1"}.
    {crash_dump,            "{{platform_log_dir}}/erl_crash.dump"}.

    %%
    %% bin/tts
    %%
    {runner_script_dir,     "$(cd `dirname $0` ; /bin/pwd)"}.
    {runner_base_dir,       "$(cd `dirname $0` ; /bin/pwd)/.."}.
    {runner_bin_dir,        "$RUNNER_SCRIPT_DIR/"}.
    {runner_etc_dir,        "$RUNNER_BASE_DIR/etc"}.
    {runner_log_dir,        "$RUNNER_BASE_DIR/log"}.
    {runner_lib_dir,        "$RUNNER_BASE_DIR/lib"}.
    {runner_user,           ""}.
    {runner_wait_process,   "tts_rest_cred"}.
    {runner_ulimit_warn,    0}.


    %% lager
    {console_log_default, file}.
