you are logged in as <strong>{{ username }}</strong>.<br>
<br>
{% if token %}
The token used to log into this session is:
<br>
<pre> {{ token }}</pre> 
{% endif %}
{% if service_list %}
<h2>Services</h2>
<table class="table table-striped">
    {% for service in service_list %}
    <tr>
        <th> Type  </th> 
        <th> Host  </th> 
        <th> Description </th> 
        <th> Action </th> 

    </tr>
    <tr>
        <form method="post" action="{{ ep_user }}">
            <input type="hidden" name="service_id" value="{{ service.id }}" >
            <td> {{ service.type }}  </td> 
            <td> {{ service.host }}  </td> 
            <td> {{ service.description }}  </td> 
            {% if service.has_credential %}
                    {% if service.is_suspended %}
                    <td> 
                        <button class="btn btn-default" type="submit" disabled>Revoke</button> 
                        <input type="hidden" name="action" value="revoke" >
                    </td>
                    {% else %}
                    <td> 
                        <button class="btn btn-default" type="submit">Revoke</button> 
                        <input type="hidden" name="action" value="revoke" >
                    </td>
                    {% endif %}
            {% else %}
                    {% if service.is_suspended %}
                <td>
                    <button type="submit" class="btn btn-default" disabled>Request</button> 
                    <input type="hidden" name="action" value="request" >
                </td>

                    {% else %}
                <td>
                    <button type="submit" class="btn btn-default">Request</button> 
                    <input type="hidden" name="action" value="request" >
                </td>
                    {% endif %}
            {% endif %}
        </form> 
    </tr>
    {% endfor %}
</table>
{% else %}
You are not able to request/revoke any credentials 
{% endif %}
{% if credential %}
<h2>Credential</h2>
This information will be gone once you perform any action, the
credential is also not stored on the server
<table class="table table-striped">
    {% for keyvalue in credential %}
    <tr>
        <td> {{ keyvalue.name }}  </td> 
        {% if keyvalue.type == "text" %}
        <td> <input type="text" value="{{ keyvalue.value }}" class="form-control" readonly></input> </td> 
        {% elif keyvalue.type == "textfile" %}
        <td> <textarea rows="{{ keyvalue.rows }}" class="form-control" cols="{{ keyvalue.cols }}" readonly>{{ keyvalue.value }}</textarea> </td> 
        {% else %}
        <td> <input type="text" value="{{ keyvalue.value }}" class="form-control" readonly></input> </td> 
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if credential_log %}
<h3>Log</h3>
The log of executing the ssh-commands
<table class="table table-striped">
    <tr>
        <th> Command  </th> 
        <th> Exit Status  </th> 
        <th> Std Out  </th> 
        <th> Std Err  </th> 
    </tr>
    {% for log in credential_log %}
    <tr>
        <td> {{ log.cmd }}  </td> 
        <td> {{ log.exit_status }}  </td> 
        <td> {{ log.std_out }}  </td> 
        <td> {{ log.std_err }}  </td> 
    </tr>
    {% endfor %}
</table>

{% endif %}
<br>
<form method="post" action="{{ ep_user }}">
    <input type="hidden" name="action" value="logout" >
    <button type="submit" class="btn btn-primary">Logout</button> 
</form> 
